<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="icon"
      href="{{url_for('static', filename='images/spain.png')}}"
    />
    <title>Asociadrid</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzGEUSfr7wbztVFMaFHxtUqiX-Mi5EMv8&callback=initMap"
      defer
    ></script>
  </head>
  <body>
    <h1>Welcome to Asociadrid</h1>
    <form action="">
      <div class="grid-container">
        <div class="d-flex justify-content-center align-items-center">
          <div id="map"></div>
        </div>
        <div
          class="container-fluid"
          style="display: flex; justify-content: center; align-items: center"
        >
          <select
            id="district"
            onchange="myChange()"
            class="form-select"
            aria-label="Default select example"
            style="width: 250px; text-align: center; margin-right: 2rem"
          >
            <option value="" selected>
              Select district
            </option>
            <option value="Arganzuela">Arganzuela</option>
            <option value="Barajas">Barajas</option>
            <option value="Carabanchel">Carabanchel</option>
            <option value="Centro">Centro</option>
            <option value="Chamartin">Chamartin</option>
            <option value="Chamberi">Chamberi</option>
            <option value="Ciudad Lineal">Ciudad Lineal</option>
            <option value="Fuencarral-El Pardo">Fuencarral-El Pardo</option>
            <option value="Hortaleza">Hortaleza</option>
            <option value="Latina">Latina</option>
            <option value="Moncloa-Aravaca">Moncloa-Aravaca</option>
            <option value="Moratalaz">Moratalaz</option>
            <option value="Puente de Vallecas">Puente de Vallecas</option>
            <option value="Retiro">Retiro</option>
            <option value="Salamanca">Salamanca</option>
            <option value="San Blas-Canillejas">San Blas-Canillejas</option>
            <option value="Tetuan">Tetuan</option>
            <option value="Usera">Usera</option>
            <option value="Vicalvaro">Vicalvaro</option>
            <option value="Villa Vallecas">Villa Vallecas</option>
            <option value="Villaverde">Villaverde</option>
          </select>
          <select
            id="subdistrict"
            class="form-select"
            aria-label="Default select example"
            style="width: 250px; text-align: center; margin-right: 2rem"
            hidden="true"
          >
            <option value="" selected>
              Select subdistrict
            </option>
            <option value="Abrantes">Abrantes</option>
            <option value="Acacias">Acacias</option>
            <option value="Adelfas">Adelfas</option>
            <option value="Aeropuerto">Aeropuerto</option>
            <option value="Alameda De Osuna">Alameda De Osuna</option>
            <option value="Almagro">Almagro</option>
            <option value="Almenara">Almenara</option>
            <option value="Almendrales">Almendrales</option>
            <option value="Aluche">Aluche</option>
            <option value="Ambroz">Ambroz</option>
            <option value="Amposta">Amposta</option>
            <option value="Apostol Santiago">Apostol Santiago</option>
            <option value="Arapiles">Arapiles</option>
            <option value="Aravaca">Aravaca</option>
            <option value="Arcos">Arcos</option>
            <option value="Arguelles">Arguelles</option>
            <option value="Atocha">Atocha</option>
            <option value="Bellas Vistas">Bellas Vistas</option>
            <option value="Berruguete">Berruguete</option>
            <option value="Buenavista">Buenavista</option>
            <option value="Butarque">Butarque</option>
            <option value="Campamento">Campamento</option>
            <option value="Canillas">Canillas</option>
            <option value="Canillejas">Canillejas</option>
            <option value="Casa De Campo">Casa De Campo</option>
            <option value="Casco H.Barajas">Casco H.Barajas</option>
            <option value="Casco H.Vallecas">Casco H.Vallecas</option>
            <option value="Casco H.Vicalvaro">Casco H.Vicalvaro</option>
            <option value="Castellana">Castellana</option>
            <option value="Castilla">Castilla</option>
            <option value="Castillejos">Castillejos</option>
            <option value="Chopera">Chopera</option>
            <option value="Ciudad Jardin">Ciudad Jardin</option>
            <option value="Ciudad Universitaria">Ciudad Universitaria</option>
            <option value="Colina">Colina</option>
            <option value="Comillas">Comillas</option>
            <option value="Concepcion">Concepcion</option>
            <option value="Corralejos">Corralejos</option>
            <option value="Cortes">Cortes</option>
            <option value="Costillares">Costillares</option>
            <option value="Cuatro Caminos">Cuatro Caminos</option>
            <option value="Cuatro Vientos">Cuatro Vientos</option>
            <option value="Delicias">Delicias</option>
            <option value="El Goloso">El Goloso</option>
            <option value="El Pardo">El Pardo</option>
            <option value="El Pilar">El Pilar</option>
            <option value="El Plantio">El Plantio</option>
            <option value="El Salvador">El Salvador</option>
            <option value="El Viso">El Viso</option>
            <option value="Embajadores">Embajadores</option>
            <option value="Ensanche De Vallecas">Ensanche De Vallecas</option>
            <option value="Entrevias">Entrevias</option>
            <option value="Estrella">Estrella</option>
            <option value="Fontarron">Fontarron</option>
            <option value="Fuente Del Berro">Fuente Del Berro</option>
            <option value="Fuentelarreina">Fuentelarreina</option>
            <option value="Gaztambide">Gaztambide</option>
            <option value="Goya">Goya</option>
            <option value="Hellin">Hellin</option>
            <option value="Hispanoamerica">Hispanoamerica</option>
            <option value="Horcajo">Horcajo</option>
            <option value="Ibiza">Ibiza</option>
            <option value="Imperial">Imperial</option>
            <option value="Jeronimos">Jeronimos</option>
            <option value="Justicia">Justicia</option>
            <option value="La Paz">La Paz</option>
            <option value="Las Aguilas">Las Aguilas</option>
            <option value="Legazpi">Legazpi</option>
            <option value="Lista">Lista</option>
            <option value="Los Angeles">Los Angeles</option>
            <option value="Los Carmenes">Los Carmenes</option>
            <option value="Los Rosales">Los Rosales</option>
            <option value="Lucero">Lucero</option>
            <option value="Marroquina">Marroquina</option>
            <option value="Media Legua">Media Legua</option>
            <option value="Mirasierra">Mirasierra</option>
            <option value="Moscardo">Moscardo</option>
            <option value="Niño Jesus">Niño Jesus</option>
            <option value="Nueva España">Nueva España</option>
            <option value="Numancia">Numancia</option>
            <option value="Opañel">Opãnel</option>
            <option value="Orcasitas">Orcasitas</option>
            <option value="Orcasur">Orcasur</option>
            <option value="Pacifico">Pacifico</option>
            <option value="Palacio">Palacio</option>
            <option value="Palomas">Palomas</option>
            <option value="Palomeras Bajas">Palomeras Bajas</option>
            <option value="Palomeras Sureste">Palomeras Sureste</option>
            <option value="Palos De Moguer">Palos De Moguer</option>
            <option value="Pavones">Pavones</option>
            <option value="Peñagrande">Peñagrande</option>
            <option value="Pinar Del Rey">Pinar Del Rey</option>
            <option value="Piovera">Piovera</option>
            <option value="Portazgo">Portazgo</option>
            <option value="Pradolongo">Pradolongo</option>
            <option value="Prosperidad">Prosperidad</option>
            <option value="Pueblo Nuevo">Pueblo Nuevo</option>
            <option value="Puerta Bonita">Puerta Bonita</option>
            <option value="Puerta Del Angel">Puerta Del Angel</option>
            <option value="Quintana">Quintana</option>
            <option value="Recoletos">Recoletos</option>
            <option value="Rejas">Rejas</option>
            <option value="Rios Rosas">Rios Rosas</option>
            <option value="Rosas">Rosas</option>
            <option value="San Andres">San Andres</option>
            <option value="San Cristobal">San Cristobal</option>
            <option value="San Diego">San Diego</option>
            <option value="San Fermin">San Fermin</option>
            <option value="San Juan Bautista">San Juan Bautista</option>
            <option value="San Pascual">San Pascual</option>
            <option value="Santa Eugenia">Santa Eugenia</option>
            <option value="Simancas">Simancas</option>
            <option value="Sol">Sol</option>
            <option value="Timon">Timon</option>
            <option value="Trafalgar">Trafalgar</option>
            <option value="Universidad">Universidad</option>
            <option value="Valdeacederas">Valdeacederas</option>
            <option value="Valdebernardo">Valdebernardo</option>
            <option value="Valdefuentes">Valdefuentes</option>
            <option value="Valdemarin">Valdemarin</option>
            <option value="Valderrivas">Valderrivas</option>
            <option value="Valdezarza">Valdezarza</option>
            <option value="Vallehermoso">Vallehermoso</option>
            <option value="Valverde">Valverde</option>
            <option value="Ventas">Ventas</option>
            <option value="Ventilla">Ventilla</option>
            <option value="Villaverde Alto C.H.">Villaverde Alto C.H.</option>
            <option value="Vinateros">Vinateros</option>
            <option value="Vista Alegre">Vista Alegre</option>
            <option value="Zofio">Zofio</option>
          </select>
          <select
            id="purpose"
            class="form-select"
            aria-label="Default select example"
            style="width: 250px; text-align: center; margin-right: 2rem"
          >
            <option value="" selected>Select purpose</option>
            <option value="Comerciantes.Empresarios.Profesionales Y Autónomos">
              Comerciantes.Empresarios.Profesionales Y Autónomos
            </option>
            <option value="Culturales Y Casas Regionales">
              Culturales Y Casas Regionales
            </option>
            <option value="De Comunicación">De Comunicación</option>
            <option value="De Defensa De Los Animales">
              De Defensa De Los Animales
            </option>
            <option value="De Derechos Humanos">De Derechos Humanos</option>
            <option value="De Estudiantes /alumnado">
              De Estudiantes /alumnado
            </option>
            <option value="De Inmigrantes">De Inmigrantes</option>
            <option value="De Madres Y Padres Del Alumnado">
              De Madres Y Padres Del Alumnado
            </option>
            <option value="De Mujeres">De Mujeres</option>
            <option value="De Personas Con Discapacidad">
              De Personas Con Discapacidad
            </option>
            <option value="De Personas Consumidoras Y Usuarias">
              De Personas Consumidoras Y Usuarias
            </option>
            <option value="De Personas Lgtbi">De Personas Lgtbi</option>
            <option value="De Personas Mayores, Jubiladas Y Pensionistas">
              De Personas Mayores, Jubiladas Y Pensionistas
            </option>
            <option value="De Salud Y Apoyo Mutuo">
              De Salud Y Apoyo Mutuo
            </option>
            <option value="Deportivas">Deportivas</option>
            <option value="Familias">Familias</option>
            <option value="Infantiles">Infantiles</option>
            <option value="Juveniles">Juveniles</option>
            <option value="Medioambientales Y Ecologistas">
              Medioambientales Y Ecologistas
            </option>
            <option value="Otras De Acción Social">
              Otras De Acción Social
            </option>
            <option value="Para La Ciencia. La Tecnología Y La Investigación">
              Para La Ciencia. La Tecnología Y La Investigación
            </option>
            <option value="Para La Cooperación Al Desarrollo">
              Para La Cooperación Al Desarrollo
            </option>
            <option value="Vecinales">Vecinales</option>
          </select>
          <select
            id="organization"
            class="form-select"
            aria-label="Default select example"
            style="width: 250px; text-align: center; margin-right: 2rem"
          >
            <option value="" selected>
              Select kind of organization
            </option>
            <option value="Association">Association</option>
            <option value="Collective">Collective</option>
            <option value="Federation">Federation</option>
            <option value="Foundation">Foundation</option>
          </select>
          <!-- <input
            type="text"
            class="form-control"
            aria-describedby="textHelp"
            placeholder="Enter name"
            style="width: 250px; text-align: center"
          /> -->
        </div>
        <div>
          <button
            type="button"
            class="btn btn-secondary"
            style="margin-bottom: 2rem"
            onclick="search()"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </body>
</html>
