body {
    background-color: #cee9f5;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Heddings */
h1 {
    text-align: center;
    font-size: 30px;
    color: #232c3d;
}

/* Submit buttons */
input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Rest of buttons */
button {
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}