/* Form */
body {
    text-align: center;
}

form {
    display: inline-block;
}

label {
    font-size: 20px;
    padding-right: 40px;
}

select {
    padding-left: 10px;
    inline-size: 300px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
label[for=city]{
    padding-right: 105px;
}
label[for=province]{
    padding-right: 60px;
}