body {
    background-color: #cee9f5;
    font-size: medium;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Submit buttons */
input[type=submit] {
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Rest of buttons */
button {
    background-color: white;
    border: 1px solid grey;
    border-radius: 2px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Heddings */
h1 {
    text-align: center;
    font-size: 30px;
    color: #232c3d;
}

/* Form */
body {
    text-align: center;
}

form {
    display: inline-block;
}

label {
    font-size: 20px;
    padding-right: 40px;
}

select {
    padding-left: 10px;
    inline-size: 300px;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
label[for=city]{
    padding-right: 105px;
}
label[for=province]{
    padding-right: 60px;
}